In [1]:
from textblob import TextBlob
import sys
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import nltk
import webbrowser
import time
import string
from PIL import Image
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.stem import SnowballStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
consumer_key = 'BisqYPaMePUvIDqERLlcMPnwj'
consumer_secret = 'yCMvVajrONzZToh8EvSDOiM67AO0HGx7UCwY5oT1ceE3B6Gms1'
bearer = 'AAAAAAAAAAAAAAAAAAAAAMqKPQEAAAAAbvTvuvsGziLwBnbJ1F8V1Ybik4I%3DIMcfk4C0xxj5jMFnSEy8iTWzv8f3SEiG2heEPm5AdwCCd6VDUF'
# access_token = '1267871380617539585-77Ds7AS0NV8k5ZPeGD54GNLvAsPfEF'
# access_token_secret = 'JIXkHGaiAXvpY8xl02CACDob76MTbqMHiCMbFX32xLV56'
callback_uri = 'oob'

In [3]:
auth = tweepy.OAuthHandler(consumer_key, consumer_secret, callback_uri)
redirect_url = auth.get_authorization_url()
# print(redirect_url)

webbrowser.open(redirect_url)

True

In [4]:
user_pin_input = input("Enter pin value: ")

Enter pin value: 1573200

In [5]:
# auth.get_access_token(user_pin_input)
api = tweepy.API(auth)

# Get tweets from keyword search

In [51]:
tweets = tweepy.Cursor(api.search, q='palestine').items(1)

In [94]:
tweets = tweepy.Cursor(api.search, q='london').items(1)

for tweet in tweets:
    print(tweet.user.name)
    print(tweet.user.location)
    print(tweet.text)
    print(dir(tweet))

mrbiscuitbarrel

@MayorofLondon Personally find Hockney really overrated.

But really, when millions have lost their jobs is this re‚Ä¶ https://t.co/8PVWUVjuzM
['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', '_api', '_json', 'author', 'contributors', 'coordinates', 'created_at', 'destroy', 'entities', 'favorite', 'favorite_count', 'favorited', 'geo', 'id', 'id_str', 'in_reply_to_screen_name', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'is_quote_status', 'lang', 'metadata', 'parse', 'parse_list', 'place', 'retweet', 'retweet_count', 'retweeted', 'retweets', 'source', 'source_url', 'text', 'truncated', 'user']

# Get location heatmap using keyword

In [ ]:
keyword = 'palestine'
WORLD = 1
CANADA = 23424775

rj_trends = api.trends_place(id = WORLD)
trends = []
for trend in rj_trends[0]['trends']: 
    if trend['tweet_volume'] is not None and trend['tweet_volume'] > 10000: 
        trends.append((trend['name'], trend['tweet_volume']))

trends.sort(key=lambda x:-x[1])
trends

# Trending tweets from location keyword

In [79]:
woeid = 23424775
  
# fetching the trends
rj_trends = api.trends_place(id = woeid)
trends = []
for trend in rj_trends[0]['trends']: 
    if trend['tweet_volume'] is not None and trend['tweet_volume'] > 10000: 
        trends.append((trend['name'], trend['tweet_volume']))

trends.sort(key=lambda x:-x[1])
trends
# rj_trends

[('Israel', 2348669),
 ('JUNGKOOK', 661002),
 ('Hamas', 455380),
 ('#ButterTeaser2', 430064),
 ('namjoon', 284412),
 ('McDonalds', 123089),
 ('Middle East', 120895),
 ('Porsha', 107626),
 ('Miguel', 89549),
 ('Testing', 88077),
 ('AstraZeneca', 64682),
 ('#tuesdaymotivations', 45410),
 ('Juventus', 44562),
 ('CONCEPT PHOTOS', 39594),
 ('Line 5', 39333),
 ('Kazan', 29768),
 ('#tuesdayvibe', 24773),
 ('Hamilton', 23516),
 ('Prego', 21428),
 ('Rand Paul', 17458),
 ('Qu√©bec', 14464),
 ('Eyebrow Piercing', 13483),
 ('Tom Cruise', 11621)]

In [83]:
import plotly.express as px
df = px.data.gapminder()
df

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

## Personal Tweets and Analysis

In [10]:
timeline = api.home_timeline()
for tweet in timeline:
    print(f"{tweet.user.name} said {tweet.text}")

Imran Khan said ÿßŸÜÿ≥ÿßŸÜ€åÿ™ ⁄©€å ÿ™ŸÖÿßŸÖ ÿ≠ÿØŸàÿØ ÿßŸàÿ± ÿπÿßŸÑŸÖ€å ŸÇŸàÿßŸÜ€åŸÜ ŸæÿßŸÖÿßŸÑ ⁄©ÿ±ÿ™€í €ÅŸàÿ¶€í ÿÆÿµŸàÿµÿßŸã ÿ±ŸÖÿ∂ÿßŸÜ ÿßŸÑŸÖÿ®ÿßÿ±⁄© ⁄©€í ÿØŸàÿ±ÿßŸÜ ÿßÿ≥ÿ±ÿßÿ¶€åŸÑ€å ŸÅŸàÿ¨€åŸà⁄∫ ⁄©€í ŸÇÿ®ŸÑ€Å ÿßŸàŸÑ €åÿπŸÜ‚Ä¶ https://t.co/1KzxeLmzI2
Imran Khan said Strongly condemn Israeli Forces' attack esp during Ramazan on Palestinians in Qibla-e-Awaal, Al-Aqsa Mosque, violat‚Ä¶ https://t.co/UpMZWC1iuP
SpaceX said Deployment of 60 Starlink satellites confirmed https://t.co/RarbrcfUml
Narendra Modi said Saddened by the demise of INA veteran Lalti Ram Ji. His courage and contributions to India‚Äôs freedom struggle will‚Ä¶ https://t.co/E5hKmAdkXW
SpaceX said Falcon 9‚Äôs first stage has landed on the Just Read the Instructions droneship, completing this booster‚Äôs 10th launc‚Ä¶ https://t.co/48pJZyHq1i
SpaceX said Liftoff! https://t.co/MZ4ct2Spnj
SpaceX said Watch the first tenth flight of an orbital class rocket booster ‚Üí https://t.co/bJFjLCzWdK  https://t.co/MDM6RNlN4J
enzo said RT @Abz4ktt: I beg (if it is Laylatul Qadr tonight Inshallah) all of us Muslimeen in the world rn to all raise our hands tonight Inshallah‚Ä¶
enzo said happy mother‚Äôs day to all the beautiful and selfless women out there üíìüíì
Narendra Modi said ‡§Æ‡§π‡§æ‡§® ‡§∏‡•ç‡§µ‡§§‡§Ç‡§§‡•ç‡§∞‡§§‡§æ ‡§∏‡•á‡§®‡§æ‡§®‡•Ä ‡§î‡§∞ ‡§∏‡§Æ‡§æ‡§ú‡§∏‡•á‡§µ‡•Ä ‡§ó‡•ã‡§™‡§æ‡§≤ ‡§ï‡•É‡§∑‡•ç‡§£ ‡§ó‡•ã‡§ñ‡§≤‡•á ‡§ï‡•ã ‡§â‡§®‡§ï‡•Ä ‡§ú‡§Ø‡§Ç‡§§‡•Ä ‡§™‡§∞ ‡§∂‡§§-‡§∂‡§§ ‡§®‡§Æ‡§®‡•§ ‡§∞‡§æ‡§∑‡•ç‡§ü‡•ç‡§∞‡§∏‡•á‡§µ‡§æ ‡§Æ‡•á‡§Ç ‡§∏‡§Æ‡§∞‡•ç‡§™‡§ø‡§§ ‡§â‡§®‡§ï‡§æ ‡§ú‡•Ä‡§µ‡§®‚Ä¶ https://t.co/1FxxW1GcdD
Narendra Modi said ‡§Ö‡§™‡§®‡•á ‡§Ö‡§™‡•ç‡§∞‡§§‡§ø‡§Æ ‡§∏‡§æ‡§π‡§∏, ‡§∂‡•å‡§∞‡•ç‡§Ø ‡§î‡§∞ ‡§Ø‡•Å‡§¶‡•ç‡§ß ‡§ï‡•å‡§∂‡§≤ ‡§∏‡•á ‡§Æ‡§æ‡§Ç ‡§≠‡§æ‡§∞‡§§‡•Ä ‡§ï‡•ã ‡§ó‡•å‡§∞‡§µ‡§æ‡§®‡•ç‡§µ‡§ø‡§§ ‡§ï‡§∞‡§®‡•á ‡§µ‡§æ‡§≤‡•á ‡§Æ‡§π‡§æ‡§® ‡§Ø‡•ã‡§¶‡•ç‡§ß‡§æ ‡§Æ‡§π‡§æ‡§∞‡§æ‡§£‡§æ ‡§™‡•ç‡§∞‡§§‡§æ‡§™ ‡§ï‡•ã ‡§â‡§®‡§ï‡•Ä ‡§ú‡§Ø‡§Ç‚Ä¶ https://t.co/vhUhmS5yER
Narendra Modi said On Tagore Jayanti, I bow to the great Gurudev Tagore. May his exemplary ideals keep giving us strength and inspirat‚Ä¶ https://t.co/uln0JcczLX
Narendra Modi said ‡¶∞‡¶¨‡ßÄ‡¶®‡ßç‡¶¶‡ßç‡¶∞‡¶ú‡¶Ø‡¶º‡¶®‡ßç‡¶§‡ßÄ‡¶§‡ßá ‡¶ó‡ßÅ‡¶∞‡ßÅ‡¶¶‡ßá‡¶¨ ‡¶∞‡¶¨‡ßÄ‡¶®‡ßç‡¶¶‡ßç‡¶∞‡¶®‡¶æ‡¶• ‡¶†‡¶æ‡¶ï‡ßÅ‡¶∞‡ßá‡¶∞ ‡¶™‡ßç‡¶∞‡¶§‡¶ø ‡¶Ü‡¶Æ‡¶æ‡¶∞ ‡¶™‡ßç‡¶∞‡¶£‡¶æ‡¶Æ‡•§ ‡¶™‡ßç‡¶∞‡¶æ‡¶∞‡ßç‡¶•‡¶®‡¶æ ‡¶ï‡¶∞‡¶ø, ‡¶§‡¶æ‡¶Å‡¶∞ ‡¶∏‡ßç‡¶¨‡¶™‡ßç‡¶®‡ßá‡¶∞ ‡¶≠‡¶æ‡¶∞‡¶§‡¶¨‡¶∞‡ßç‡¶∑ ‡¶ó‡¶°‡¶º‡ßá ‡¶§‡ßÅ‡¶≤‡¶§‡ßá‚Ä¶ https://t.co/iSXBOVey2p
Marques Brownlee said Lucid Air and Mustang Mach E commercials During SNL

Tesla CEO hosting SNL

There‚Äôs a joke in there somewhere #future
Marques Brownlee said You've been scrolling for a while, check on that posture. Oh and don't forget to drink some water today. Rest your‚Ä¶ https://t.co/9FdlzJiRi2
enzo said mashallah ü§ç https://t.co/wAShfJgFTb
BBC Breaking News said Labour's Sadiq Khan wins second term as London's mayor after beating Conservative rival Shaun Bailey

https://t.co/ZcaQRnS3Bd
Doug Ford said Ontario has now administered over 6 MILLION doses of the #COVID19 vaccine. As we receive more vaccines, more groups‚Ä¶ https://t.co/OuGxjgCLjN
Elon Musk said Special link to view SNL outside USA
https://t.co/egSDZ8sNFu
Hillary Clinton said We know waiving vaccine patents can save lives without stifling pharmaceutical companies' creativity. @billclinton‚Ä¶ https://t.co/lYldqRy6Nq